html {
    overflow-y: hidden;
}

/*this bit keeps a stinky white border from popping up around the body*/
body {
    margin: 0%;
}

/*the boxes here all work to properly stack all these elements and get them to function properly
    credit goes to my friend Adam, who was able to go over a few of these functions of css I was unaware of*/

#box {
    height: 100vh;
    width: 100vw;
    position: absolute;
}

/*this is the man container of all the background happening*/
#box div {
    position: absolute;
    width: 100%;
    height: 3199px;
    background-repeat: repeat;
}

/*this is the div viner, setting up how the various things in the box should behave*/
#box div:nth-child(even) {
    top: -3198px;
}

/*this is the stuff that enables the illusion of a continuously scrolling image to work*/

/*got the css added for the parallaxing, timing is still off, but everything works */
.background-characters {
    background-image: url('adventure2background.jpg');
    /*background image*/
    animation: 90s scroll linear infinite;
}

.blue-bubbles-fast {
    background-image: url('blue1.png');
    position: absolute;
    animation: scroll 13s linear infinite;
}

/*this is the background that has blue bubbles going fast*/

.blue-bubbles-slow {
    background-image: url('blue2.png');
    position: absolute;
    animation: scroll 13s linear infinite;
}

/*this is the background that has blue bubbles going slowly*/

.pink-bubbles-fast {
    background-image: url('pink1.png');
    position: absolute;
    animation: scroll 6s linear infinite;
}

/*this is the background that has pink bubbles going fast*/

.pink-bubbles-slow {
    background-image: url('pink2.png');
    position: absolute;
    animation: scroll 12s linear infinite;
}

/*this is the background that has pink bubbles going slowly*/

.Combo-color-bubbles {
    background-image: url('combocolor.png');
    position: absolute;
    animation: scroll 19s linear infinite;
}

/*this is the background that has two colors of bubbles*/

a {
    text-decoration: none;
}

/*keeps the link from having an underline in it*/

h1 {
    position: absolute;
    font-size: 2.8em;
    margin-top: 33%;
    margin-left: 41%;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 3px #FFADEF, -2px -2px 3px #ffADEF, 3px 3px 3px #FFADEF, -3px -3px 3px #FFADEF, 4px 4px 3px #FFADEF, -4px -4px 3px #FFADEF,
        2px 2px 3px #FFADEF, -2px -2px 3px #ffADEF, 3px 3px 3px #FFADEF, -3px -3px 3px #FFADEF, 4px 4px 3px #FFADEF, -4px -4px 3px #FFADEF,
        -6px -6px 2px #000000, 6px 6px 6px #000000, -6px -6px 2px #000000, 6px 6px 2px #000000;
}

/*instructions on how the Press START should look*/

footer {
    position: absolute;
    font-size: 1.9em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FFFFFF;
    margin-top: 42%;
    margin-left: 2%;
    line-height: 1em;
}

/*instructions on how text is to be displayed on the footer*/

#gradienttext {
    background-image: url(textbackground.png);
    max-height: 2em;
}

/*gradient stuff for the text in the lower left corner*/

#floating {
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 8%;
    width: 50%;
    position: absolute;
    justify-content: center;
    align-items: center;
    animation: float 3s infinite;
    overflow: hidden;
}

/*floating instructions for the logo*/

@keyframes scroll {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(3198px);
    }

}

/*instructions on how to make the background move*/

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0%);
    }
}

/*instructions on how to make the logo float*/